$color-red: rgb(255, 20, 20);
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}
p {
  color: $color-red;
  font-size: 50px;
  font-family: "Roboto-Medium";
}
body {
  background-image: url("../images/koala.jpg");
}
